.container {
    width: 1180px;
    margin: 0 auto;
}

h2 {
    margin-top: 32px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.01em;
        color: #000000;
    }

    .content {
       display: flex;
       align-items: center;
    //    justify-content: space-around;
       flex-wrap: wrap;
    }

