.pizza {
  margin-top: 35px;
  margin-right: 12px;
  &__container {
    max-width: 280px;
    max-height: 489px;
    img {
      max-width: 255px;
      max-height: 260px;
    }
    h3 {
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #000000;
    }
  }
  &__options {
    min-width: 280px;
    min-height: 85px;
    background: #f3f3f3;
    border-radius: 10px;
    text-align: center;
    padding-top: 13.36px;

    div {
      margin-bottom: 13.36px;
    }

    span {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.015em;
      color: #2c2c2c;
      cursor: pointer;
      margin-right: 15.73px;

      &.active {
        display: inline-block;
        width: 131.88px;
        background: rgb(185, 138, 77);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
      }
    }
  }
  &__bottom {
    margin-top: 17px;
    display: flex;
    justify-content: space-around;
    &_price {
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.015em;
      color: #000000;
    }
    &_add {
      width: 155px;
      background: #ffffff;
      border: 1px solid #eb5a1e;
      border-radius: 30px;
      cursor: pointer;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #eb5a1e;
      &:before{
        content: " +";
        font-size: 14px;
        font-weight: 1200;
        margin-right: 8px;
        color: #e25c5c;
      }
      &:after{
        content: " 2";
        background: #ce9278;
        margin-left: 8px;
        width: 18px;
        display: inline-block;
        font-weight: 400;
        border-radius: 50% ;
        font-size: 14px;
        color: #ffe7e7;
      }
    }
  }
}
