* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  background:#ffc98c;
  padding: 43px 50px 63px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: black;
}



.wrapper {
  max-width: 1409px;
  border-radius: 10px;
  background:#FFFFFF;
}

.container {
  max-width: 1115px;
  margin: 0 auto;
}
