.menu {
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }
  &__devider {
    max-width: 1328px;
    height: 1px;
    margin-left: 12px;
    margin-top: 40px;
    background: #dacfcf;
  }
  &__list {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px; 
    color: #2c2c2c;
    cursor: pointer;
    &_item {
      margin-left: 9px;
      &.active {
        text-align: center;
        width: 83px;
        color: rgb(175, 173, 57);
        background: #282828;
        border-radius: 30px;
      }
    }
    
  }
  &__sort {
    display: flex;
    &_element {
      margin-right: 7px;
      max-width: 10px;;
    }
    span {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.015em;
      color: #2c2c2c;
      margin-right: 8px;
    }
    &_select {
      color: #FE5F1E;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.015em;
      
    }
  }
}
